* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
    font-size: 15px;
    text-decoration: none;
}
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.navbar {
    width: 1000px;
    margin: auto;
}
nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #ffffff;
    line-height: 90px;
    width: 100%;
    background-color: #000000; opacity: 60%;
}
nav.logomus {
    background-color: #fff;
}
nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}
nav .logo img {
    vertical-align: middle;
    width: 110px;
}
nav .menu {
    float: right;
    height: 60px;
    max-width: 700px;
}
nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
    position: relative;
}
nav .menu ul li a {
    color: #ffffff;
    text-align: center;
    padding: 0px 14px 0px 14px;
    text-decoration: none;
}
nav .menu ul li a:hover {
    text-decoration: underline;
}
.menu ul li ul {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: #000000;
    display: none;
    line-height: none;
}
.menu ul li ul li {
    width: 100%;
    border-top: 1px solid #ffffff;
}
.menu ul li:focus-within > ul,
.menu ul li:hover > ul {
    display: initial;
}

/* pengaturah header */
header {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    border-bottom: 10px solid #695f5f;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}
section {
    padding: 50px 0px 50px 0px;
}
section h3 {
    font-size: 30px;
    text-align: center;
}
section h3::after {
    content: "";
    border-bottom: 5px solid #352d2d;
    width: 52px;
    display: block;
    margin: 20px auto;
}
#profil, #ngaji {
    text-align: center;
    background-image: url(images/backgroundisi.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section p.ringkasan{
    font-style: italic;
    font-size: 18px;
    color: #a8a8a8;
}
#tokoh h3 {
    text-align: center;
}
.tokoh, .kitabun, .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tokoh h6, .kitabun h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}
.tokoh img {
    width: 200px;
    border-radius: 25%;
    box-shadow: 0px 10px 30px #777777;
}
.tokoh div, .kitabun div {
    text-align: center;
    width: 26%;
}
.guru img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    background-color: #ffffff;
}
section#gallery div {
    padding: 10px;
}
section#gallery div img {
    height: 150px;
    border-radius: 10px;
}
section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.kitabun img {
    width: 150px;
    box-shadow: 0px 10px 30px #ccc;
    border-radius: 5px;
}
.kitabun img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.blog .area {
    width: 47%;
    box-shadow: 0px 10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog div .area div {
    width: 50%;
}
.blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 200px;
}
.blog .area .text article {
    padding: 40px;
    text-align: center;
}
.blog .area .text article h4 {
    margin: 0px;
    text-align: center;
    color: #615f69;
}
.blog .area .text article a {
    color: rgb(7, 22, 107);
    text-decoration: none;
    transition: color 0.5s ease;
}
.blog .area .text article a:hover {
    color: #ccc;
}
footer {
    padding: 50px 0px 50px 0px;
    background-color: #5c5c5c;
    color: #ebebeb;
    text-align: left;
    font: bold 16px;
}
footer .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}
footer .footer1 div {
    width: 20%;
    display: inline;
}
footer .footer1 h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
footer .footer1 li{
    list-style: none;
    padding-left: 0;
}
footer .footer1 li i {
    font-size: 14px;
    padding-right: 5px;
    color: #ffffff;
}
footer .footer1 li a {
    color: #636060;
    font-size: 15px;
    font-weight: 500;
	color: #ffffff;
    text-decoration-line: none;
    text-align: justify;
}
footer .footer1 li a:hover {
    color: #000000;
}
footer .footer1 .social-icons {
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}
footer .footer1 .social-icons a i {
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 3px;
    color: #ffffff;
	font-size: 16px;
	margin-right: 12px;
}
iframe {
    border-bottom: 10px solid #a7a4a4;
    border-radius: 10px;
}
footer .footer2 {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #b6b4b4;
    text-align: center;
    z-index: 100;
    color: #fff;   
} 
footer .copyright {
    float: left;
    position: relative;
    vertical-align: middle;
    padding-left: 70px;
}
footer .copyright a {
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
}
footer .sosialmedia {
    float: right;
    height: 50px;
    max-width: 800px;
    padding: 0px 20px 0px 20px;
    color: #ffffff;
    text-align: center;
    padding-right: 70px;
}
footer .sosialmedia a {
    color: #ffffff;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}
footer .sosialmedia a i:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {
    .navbar {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #969494;
        background-color: #fff;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: rgb(48, 47, 47);
    }
    .tombol-menu {
        display: flex;
    }
    .blog .area {
        display: block;
    }
    .blog div .area div {
        width: 100%;
    }
    .blog .area .gambar {
        border-radius: 5px 5px 0px 0px;
        height: 200px;
    }
    .tokoh {
        display: block;
    }
    .tokoh div {
        width: 100%;
        padding-bottom: 30px;
    }
}
